<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo App</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="home.js"></script>


</head>
<body>
  <div class="container">
    <h1 class="text-center">Todo App!</h1>

    <button class="btn btn-default btn-lg newTodo">New Todo</button>

    <table class="table">
      <thead>
        <tr>
          <th>Created At</th>
          <th>Due Date</th>
          <th>Description</th>
          <th>Is Complete?</th>
        </tr>
      </thead>
      <tbody class='todoList'>

        <% for(var i = 0; i < todos.length; i++) { %>
          <tr data-id=<%=todos[i].id%>  >
            <td><%= todos[i].createdAt %></td>
            <td><%= todos[i].dueDate %></td>
            <td><%= todos[i].desc %></td>
            <td>
              <% if(todos[i].isComplete) { %>
                <input type="checkbox" name="" id="" checked>
              <% } else { %>
                <input type="checkbox" name="" id="">
              <% } %>
            </td>
          </tr>

        <%  }  %>

      <tr class='template'>
        <td class='createdAt'></td>
        <td class='dueDate'></td>
        <td class='desc'></td>
        <td>
            <input class='isComplete' type='checkbox'>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class='newTodoForm'>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Todo</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="newTodoDesc">Description</label>
              <input type="text" class="form-control" id="newTodoDesc" placeholder="Buy Eggs." required>
            </div>
            <div class="form-group">
              <label for="newTodoDueDate">Due Date</label>
              <input type="date" class="form-control" id="newTodoDueDate" required>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Todo</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</body>
</html>
